body {
	font-family: 'Open Sans';
}

nav {
    display: block;
    position: sticky;
    top: 0px;
    padding: 0.5rem;
    height: 64px;
    background-color: white;
}

ul {
    position: relative;
}

.nav-logo {
    display: inline-block;
    margin-left: 1.5rem;
    margin-top: 0.25rem;
}

.nav {
    display: inline;
    margin: 0.5rem;
}

.right-nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1.5rem;
}

.tuitt-button {
    height: 48px;
    width: 112px;
    border-radius: 24px;
    border-style: none;
    background-color: #c2195b;
    color: white;
    font-weight: bold;
}

.apply-button {
	height: 26px;
    width: 112px;
    border-radius: 24px;
    border-style: none;
    background-color: #c2195b;
    color: white;
    font-weight: bold;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 20rem;
    background-position: center;
  	background-attachment: fixed;
    
}

.container {
    text-align: right;
    margin-right: 3%;
    color: white;
}

.title {
	display: inline-block;
	vertical-align: top;
	min-height: 75px;
	width: 30%;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

.subtitle {
	display: inline-block;
	vertical-align: top;
	min-height: 75px;
	width: 30%;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	font-size: 16px;
}

.title-2 {
	text-align: center;
}

.intro-description {
	text-align: justify;
	display: inline-block;
	margin-left: 25%;
	margin-right: 25%;

}

.prefooter-description {
	text-align: justify;
	display: inline-block;
	margin-left: 25%;
	margin-right: 25%;

}

.book-button {
	height: 26px;
    width: 112px;
    border-radius: 24px;
    border-style: none;
    background-color: midnightblue;
    color: white;
    font-weight: bold;
    margin-left: 45%;
	margin-right: 50%;
}

footer {
	text-align: center;
}